<!-- app/views/landing_pages/index.html.erb -->

<h1>Welcome to BorrowBridge!</h1>
<div class="banner">
  <img src="<%= asset_path('banner.png') %>" alt="Banner Image">
</div>
<div class="call-to-action">
  <%= link_to "Create User", new_user_path, class: "btn btn-primary" %>
</div>