.banner {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .banner img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1a2cd3;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .call-to-action {
    text-align: center;
    margin-top: 20px;
  }
  
  .call-to-action .btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .call-to-action .btn:hover {
    background-color: #3e8e41;
  }

